* {
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(119, 114, 114);
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 56px;
}

.content-center {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Lato', sans-serif;   
}

.container {
    width: 60vw;
    margin: auto;
    padding: 32px 0;
    font-family: 'Roboto Serif', serif;
    font-weight: bold;
}

.logo {
    padding: 0 13px;
    /* up-bottom  right-left */
}

.logo img {
    width: 34px;
}

/* .toolbar-item button {
    cursor: pointer !important;
    color: white !important;
    border: 1px solid white !important;
    border-radius: 15px !important;
    padding: 5px 14px !important;
} */